<div ng-controller="ProductsCtrl">
<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/Shop">Shop</a></li>
    <li><a ng-href="#/Cart">Cart</a></li>
    <li><a ng-href="#/Admin">Admin</a></li>
    <li><a ng-href="#/blog">Blog</a></li>


  </ul>
  <h3 class="text-muted">shoppingCart20</h3>
</div>

<div class="jumbotron">
  <h1>Angular is confusing</h1>
  <p>But so Powerfull</p>
</div>

  <div class="col-md-6">
    <h3>Shopping Cart</h3>
    <div class="customerShoppingCart">
     <ul class="cartItems" ng-repeat="product in products">
        <li><img ng-src="{{product.image}}"></li>
        <li>name:{{product.name}}</li>
        <li>price:{{product.price | currency}}</li>
        <li><button ng-click="show">Pictures</button></li>
        
        <li><button ng-click="show">description</button></li>
        <div ng-controller="UDCtrl">
          <span class="glyphicon glyphicon-trash" ng-click="delete()"></span>
          <button ng-click="updateProduct">UpdateProduct</button>
        </div>
      </ul>
    </div>

</div>



<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
</div>